QIoT_export/node-redFlow/node-red_flow
[
    {
        "id": "8286064b.3c95d8",
        "type": "tab",
        "label": "Control"
    },
    {
        "id": "c9c487ad.cab348",
        "type": "tab",
        "label": "speak"
    },
    {
        "id": "19ad74e.652fe8b",
        "type": "apiai-agent",
        "z": "",
        "name": "QIoT"
    },
    {
        "id": "16ac36a2.b90ad9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "39f0a1d9.34005e",
        "type": "qiotbroker out",
        "z": "8286064b.3c95d8",
        "name": "Relay7697",
        "opt_customtopic": false,
        "topic": "",
        "qos": "1",
        "retain": "true",
        "thing": "8fa8300e-b543-4345-bf20-bbbff9e0e167",
        "qtopic": "qiot/things/admin/RELAY7697/HomeRelay",
        "username": "admin",
        "key": "r:808ceb01be8f896e51d6c2798f689fb6",
        "x": 495.00008392333984,
        "y": 158.00001907348633,
        "wires": []
    },
    {
        "id": "8948ae61.5ea77",
        "type": "inject",
        "z": "8286064b.3c95d8",
        "name": "TEST_off",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 295.00001525878906,
        "y": 28.000011444091797,
        "wires": [
            [
                "39f0a1d9.34005e"
            ]
        ]
    },
    {
        "id": "cceedb28.9844a8",
        "type": "qiotbroker out",
        "z": "c9c487ad.cab348",
        "name": "ation",
        "opt_customtopic": false,
        "topic": "",
        "qos": "2",
        "retain": "false",
        "thing": "05ff8234-7b7e-4080-93fe-6a56cd7da1d2",
        "qtopic": "qiot/things/admin/speak/action",
        "username": "admin",
        "key": "r:808ceb01be8f896e51d6c2798f689fb6",
        "x": 871.9999961853027,
        "y": 54.00002574920654,
        "wires": []
    },
    {
        "id": "17de369b.9583c9",
        "type": "qiotbroker in",
        "z": "c9c487ad.cab348",
        "name": "Mic message in",
        "flow": "c9c487ad.cab348",
        "opt_customtopic": false,
        "customtopic": "",
        "thing": "05ff8234-7b7e-4080-93fe-6a56cd7da1d2",
        "qtopic": "qiot/things/admin/speak/speak",
        "username": "admin",
        "rules": [
            {
                "v": "5a27b0559c31dc0030744b24",
                "persistent": false,
                "meta": {
                    "unit": "mbar",
                    "datatype": "String"
                },
                "resid": "echotext"
            }
        ],
        "outputs": 1,
        "key": "r:f52328ca62a9b88ef0111eb55a87c770",
        "x": 107,
        "y": 50.999996185302734,
        "wires": [
            [
                "52a14417.dc9a9c",
                "cd7072e5.c501c"
            ]
        ]
    },
    {
        "id": "52a14417.dc9a9c",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 355,
        "y": 51.999996185302734,
        "wires": []
    },
    {
        "id": "acac3a2.0f794c8",
        "type": "inject",
        "z": "c9c487ad.cab348",
        "name": "Start",
        "topic": "",
        "payload": "{\"value\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 648.0000381469727,
        "y": 55.00002574920654,
        "wires": [
            [
                "cceedb28.9844a8"
            ]
        ]
    },
    {
        "id": "cd7072e5.c501c",
        "type": "change",
        "z": "c9c487ad.cab348",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 169.00001525878906,
        "y": 136.00006103515625,
        "wires": [
            [
                "9ec2f4e7.09e8f8"
            ]
        ]
    },
    {
        "id": "9ec2f4e7.09e8f8",
        "type": "apiai-text",
        "z": "c9c487ad.cab348",
        "name": "",
        "agent": "19ad74e.652fe8b",
        "x": 147.00003814697266,
        "y": 205.00007438659668,
        "wires": [
            [
                "f43a8c2b.4856b",
                "5142f603.f59f78",
                "33d29e17.31f652"
            ],
            []
        ]
    },
    {
        "id": "f43a8c2b.4856b",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 667.0000267028809,
        "y": 259.0000457763672,
        "wires": []
    },
    {
        "id": "5142f603.f59f78",
        "type": "function",
        "z": "c9c487ad.cab348",
        "name": "decode_command",
        "func": "msg.payload = \n{\"command\":msg._apiai.result.action,\n\"statue\":msg._apiai.result.parameters}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 173.00006103515625,
        "y": 274.00009965896606,
        "wires": [
            [
                "1f7134f.51b8ccb",
                "f53d5b87.c9fbe8"
            ]
        ]
    },
    {
        "id": "1f7134f.51b8ccb",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 668.0002174377441,
        "y": 306.0000696182251,
        "wires": []
    },
    {
        "id": "f53d5b87.c9fbe8",
        "type": "switch",
        "z": "c9c487ad.cab348",
        "name": "swich command",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "get.sensor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 166.00004959106445,
        "y": 329.0001754760742,
        "wires": [
            [
                "892bf333.cd65a",
                "a4675f4a.a2cb1"
            ],
            [
                "dc6baf74.bf847"
            ]
        ]
    },
    {
        "id": "892bf333.cd65a",
        "type": "switch",
        "z": "c9c487ad.cab348",
        "name": "choose things",
        "property": "payload.statue.things",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 401.2143096923828,
        "y": 335.00011253356934,
        "wires": [
            [
                "12f6b701.62bde9",
                "f94fdf9c.5f32f"
            ]
        ]
    },
    {
        "id": "12f6b701.62bde9",
        "type": "switch",
        "z": "c9c487ad.cab348",
        "name": "choose action",
        "property": "payload.statue.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 615.0000152587891,
        "y": 388.0000190734863,
        "wires": [
            [
                "2b2fcc1.825dd34"
            ],
            [
                "ac574ba.ffc40b8",
                "7ae4b1df.73ca9"
            ]
        ]
    },
    {
        "id": "7ae4b1df.73ca9",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 822.999942779541,
        "y": 352.7142515182495,
        "wires": []
    },
    {
        "id": "c371b692.63af28",
        "type": "qiotbroker out",
        "z": "c9c487ad.cab348",
        "name": "Speaker",
        "opt_customtopic": false,
        "topic": "",
        "qos": "2",
        "retain": "false",
        "thing": "05ff8234-7b7e-4080-93fe-6a56cd7da1d2",
        "qtopic": "qiot/things/admin/speak/speak",
        "username": "admin",
        "key": "r:f52328ca62a9b88ef0111eb55a87c770",
        "x": 595.2145843505859,
        "y": 167.14294052124023,
        "wires": []
    },
    {
        "id": "33d29e17.31f652",
        "type": "function",
        "z": "c9c487ad.cab348",
        "name": "encode",
        "func": "msg.payload = {\"value\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 384.2142791748047,
        "y": 181.2857208251953,
        "wires": [
            [
                "c371b692.63af28"
            ]
        ]
    },
    {
        "id": "eea8fc37.44d8e",
        "type": "qiotbroker in",
        "z": "8286064b.3c95d8",
        "name": "DHT11",
        "flow": "8286064b.3c95d8",
        "opt_customtopic": false,
        "customtopic": "",
        "thing": "fdbe9823-1522-4cd5-9461-2f47ea514146",
        "qtopic": "qiot/things/admin/MON7697/HomeEnv",
        "username": "admin",
        "rules": [
            {
                "v": "5a2790d99c31dc002fabe8a1",
                "persistent": false,
                "meta": {
                    "unit": "°C",
                    "datatype": "String"
                },
                "resid": "HomeEnv"
            }
        ],
        "outputs": 1,
        "key": "r:859142e3b1b3e1705764363c287f6265",
        "x": 154.21427154541016,
        "y": 279.142879486084,
        "wires": [
            [
                "79220ec3.23cc5",
                "bee97b06.89b638",
                "9b55406b.57d5d"
            ]
        ]
    },
    {
        "id": "d03f6a23.f842e8",
        "type": "debug",
        "z": "8286064b.3c95d8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 510.21426010131836,
        "y": 223.28576278686523,
        "wires": []
    },
    {
        "id": "2b2fcc1.825dd34",
        "type": "link out",
        "z": "c9c487ad.cab348",
        "name": "on",
        "links": [
            "c4458885.945478"
        ],
        "x": 797.2142887115479,
        "y": 425.14290046691895,
        "wires": []
    },
    {
        "id": "ac574ba.ffc40b8",
        "type": "link out",
        "z": "c9c487ad.cab348",
        "name": "off",
        "links": [
            "62e82c.c37307d4"
        ],
        "x": 798.2142677307129,
        "y": 471.1429080963135,
        "wires": []
    },
    {
        "id": "c4458885.945478",
        "type": "link in",
        "z": "8286064b.3c95d8",
        "name": "",
        "links": [
            "2b2fcc1.825dd34"
        ],
        "x": 78.21427917480469,
        "y": 138.85714721679688,
        "wires": [
            [
                "73a81141.5bc07"
            ]
        ]
    },
    {
        "id": "62e82c.c37307d4",
        "type": "link in",
        "z": "8286064b.3c95d8",
        "name": "",
        "links": [
            "ac574ba.ffc40b8"
        ],
        "x": 74.21427917480469,
        "y": 185.85714721679688,
        "wires": [
            [
                "9122b1dd.da882"
            ]
        ]
    },
    {
        "id": "73a81141.5bc07",
        "type": "change",
        "z": "8286064b.3c95d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 215.2142791748047,
        "y": 137.85715675354004,
        "wires": [
            [
                "39f0a1d9.34005e"
            ]
        ]
    },
    {
        "id": "9122b1dd.da882",
        "type": "change",
        "z": "8286064b.3c95d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 219.99998474121094,
        "y": 178.99998474121094,
        "wires": [
            [
                "39f0a1d9.34005e"
            ]
        ]
    },
    {
        "id": "24b9b7f2.b690c8",
        "type": "qiotdashboard datasource out",
        "z": "8286064b.3c95d8",
        "name": "Temperture",
        "resourcetype": "582ebc5e67ad91000645dec2",
        "qiot_resource_name": "Temperature",
        "qiot_id": "qiot.temperature",
        "datatypes": "Float",
        "units": "°C",
        "min_value": -40,
        "max_value": 125,
        "metadata": true,
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "noerr": 0,
        "x": 726.2143783569336,
        "y": 297.14295864105225,
        "wires": []
    },
    {
        "id": "3c78e336.29c63c",
        "type": "qiotdashboard datasource out",
        "z": "8286064b.3c95d8",
        "name": "Huminity",
        "resourcetype": "583faeb9d2bb340006354cd4",
        "qiot_resource_name": "Humidity",
        "qiot_id": "qiot.humidity",
        "datatypes": "Float",
        "units": "",
        "min_value": null,
        "max_value": null,
        "metadata": true,
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "noerr": 0,
        "x": 715.9999465942383,
        "y": 354.000075340271,
        "wires": []
    },
    {
        "id": "79220ec3.23cc5",
        "type": "change",
        "z": "8286064b.3c95d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.value.temperature",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455.2142791748047,
        "y": 301.2857360839844,
        "wires": [
            [
                "24b9b7f2.b690c8",
                "d03f6a23.f842e8"
            ]
        ]
    },
    {
        "id": "bee97b06.89b638",
        "type": "change",
        "z": "8286064b.3c95d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.value.humidity",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 445.0000305175781,
        "y": 355.99996757507324,
        "wires": [
            [
                "3c78e336.29c63c"
            ]
        ]
    },
    {
        "id": "f94fdf9c.5f32f",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 409.9999694824219,
        "y": 416.9999694824219,
        "wires": []
    },
    {
        "id": "a4675f4a.a2cb1",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 146,
        "y": 431.9999694824219,
        "wires": []
    },
    {
        "id": "1d1bf31b.fb078d",
        "type": "inject",
        "z": "c9c487ad.cab348",
        "name": "Reset",
        "topic": "",
        "payload": "{\"value\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 649,
        "y": 99.99999237060547,
        "wires": [
            [
                "cceedb28.9844a8"
            ]
        ]
    },
    {
        "id": "9b55406b.57d5d",
        "type": "file",
        "z": "8286064b.3c95d8",
        "name": "",
        "filename": "weather.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 305.2142791748047,
        "y": 429.5714416503906,
        "wires": []
    },
    {
        "id": "5a4c0eac.35ca3",
        "type": "file in",
        "z": "c9c487ad.cab348",
        "name": "",
        "filename": "weather.txt",
        "format": "utf8",
        "x": 326.21435546875,
        "y": 481.71432399749756,
        "wires": [
            [
                "ed3ab29b.2b773"
            ]
        ]
    },
    {
        "id": "d4a6c42c.2e3cd8",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 628.000129699707,
        "y": 485.0001697540283,
        "wires": []
    },
    {
        "id": "ed3ab29b.2b773",
        "type": "json",
        "z": "c9c487ad.cab348",
        "name": "",
        "x": 469.2144432067871,
        "y": 483.71432399749756,
        "wires": [
            [
                "d4a6c42c.2e3cd8",
                "c8ee8fa1.cdec2"
            ]
        ]
    },
    {
        "id": "dc6baf74.bf847",
        "type": "switch",
        "z": "c9c487ad.cab348",
        "name": "choose things",
        "property": "payload.statue.things",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 160.00003814697266,
        "y": 537.571457862854,
        "wires": [
            [
                "5a4c0eac.35ca3"
            ],
            [
                "c903d73b.d14af8"
            ]
        ]
    },
    {
        "id": "c903d73b.d14af8",
        "type": "file in",
        "z": "c9c487ad.cab348",
        "name": "",
        "filename": "weather.txt",
        "format": "utf8",
        "x": 327,
        "y": 597.5714721679688,
        "wires": [
            [
                "51f8e49e.55228c"
            ]
        ]
    },
    {
        "id": "ca3a8338.7ab3",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 571.785774230957,
        "y": 647.8572111129761,
        "wires": []
    },
    {
        "id": "51f8e49e.55228c",
        "type": "json",
        "z": "c9c487ad.cab348",
        "name": "",
        "x": 479.0000820159912,
        "y": 594.5714712142944,
        "wires": [
            [
                "ca3a8338.7ab3",
                "73039a5b.37a2d4"
            ]
        ]
    },
    {
        "id": "c8ee8fa1.cdec2",
        "type": "function",
        "z": "c9c487ad.cab348",
        "name": "temperature",
        "func": "msg.payload.value = msg.payload.value.temperature.toString() + \"度\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 671.2142791748047,
        "y": 551.4286041259766,
        "wires": [
            [
                "c371b692.63af28",
                "9247ecbf.01694"
            ]
        ]
    },
    {
        "id": "73039a5b.37a2d4",
        "type": "function",
        "z": "c9c487ad.cab348",
        "name": "humidity",
        "func": "msg.payload.value = msg.payload.value.humidity.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 599.2857055664062,
        "wires": [
            [
                "c371b692.63af28",
                "9247ecbf.01694"
            ]
        ]
    },
    {
        "id": "9247ecbf.01694",
        "type": "debug",
        "z": "c9c487ad.cab348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 850.9999389648438,
        "y": 557.7142333984375,
        "wires": []
    },
    {
        "id": "c967334a.a600c",
        "type": "inject",
        "z": "8286064b.3c95d8",
        "name": "TEST_on",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 298,
        "y": 75,
        "wires": [
            [
                "39f0a1d9.34005e"
            ]
        ]
    }
]